<div class="guide">
    <div class="guide__content">
        <p class="guide__title">This application allows you to find images by color!</p>
        <p>1. Write your text in the editor on main page</p>
        <p>2. Color your text with the color tool bar</p>
        <p>3. Set your desired search settings (optional)</p>
        <p class="guide__search-settings"><span class="glyphicon glyphicon-triangle-right"></span> The experimental feature for semantic similarity calculates
        the semantic similarity rank for each similar image and sorts the result set by
        this value. You can perform a specific search by choosing a desired similarity level and distance function.
        <br><span class="glyphicon glyphicon-triangle-right"></span> You can create and manage multiple color profiles.
        Contents of the existing color profiles can be inspected in the "Archive" section.</p>
        <p>4. Search!</p>
    </div>
</div>